section.about-me-sec {
  background: #1c1a19 no-repeat;
  height: 100%;
}

.about-me-container {
  display: flex;
  flex-direction: column;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.about-me-title {
  margin-top: 120px;
  margin-left: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-desc {
  margin: 24px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #f4f5f7;
}

.resume-btn {
  padding: 12px;
  margin-left: 24px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
}

.about-me-img {
  align-self: flex-end;
}

section.skills {
  background: #1c1a19 no-repeat;
  height: 100%;
}

.about-me-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.lenguage {
  display: flex;
  flex-direction: column;
}

.frameworks {
  display: flex;
  flex-direction: column;
}

.skills {
  padding-top: 60px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
}

.list-title {
  gap: 20px;
  height: 24px;
  left: 49.46px;
  top: 8.73px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.list-title img {
  margin-right: 10px;
}

.list-items {
  margin-top: 32px;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  align-self: center;
}

@media (min-width: 900px) {
  .about-me-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
