 .btn-style:hover {
  background-color: #fff;
  color: #ff6b00;
  border-style: double;
  border-color: #ff6b00;
}

.btn-style:active {
 background-color: #e05304;
 color: #fff;
}

.btn-style:disabled {
 background-color: #f4f1f0;
 color: #5b5957;
}
