footer {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: 2fr 3fr;
}

.contact {
  text-align: center;
  padding: 120px 0 73px;
  grid-column: 2/3;
  grid-row: 1/2;
  color: #172b4d;
}

.form {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-bottom: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-1,
.input-2 {
  border-style: none;
  border-bottom: solid #ddd 1px;
  padding: 14px 14px;
  margin-bottom: 1rem;
}

.ct-submit {
  color: white;
  font-weight: 700;
  padding: 0.8rem 0.3rem;
  background-color: #ff6b00;
  font-size: 17px;
  line-height: 24px;
  border-style: none;
  width: 30vh;
  align-self: center;
}
