section.works {
  background: #e5e5e5;
  height: 100%;
}

.first-card {
  display: flex;
  flex-direction: column;
}

.works-title {
  padding-top: 33px;
  height: 81px;
  margin-left: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
}

.workname {
  color: black;
  height: 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-left: 30px;
}

.work-desc {
  margin-left: 2rem;
  margin-right: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-self: center;
}

.worksimg {
  margin-top: 80px;
  width: 28rem;
  align-self: center;
  padding-left: 30px;
  margin-left: 20px;
}

.works-tools {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.works ul {
  display: flex;
  padding: 10px 12px;
}

.works ul li {
  margin-left: 12px;
  text-decoration: none;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.works ul li a {
  text-decoration: none;
  color: #091e42;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.works-tools ul li:hover {
  background-color: aquamarine;
}

.works-btn {
  border-style: none;
  margin-left: 24px;
  height: 2rem;
  width: 5rem;
  align-self: flex-start;
  background: #ff6b00;
  color: #fff;
}

/* work cards */

.work-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box {
  background-repeat: repeat-y;
  background-size: cover;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 327px;
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-title {
  margin-top: 60px;
  width: 295px;
  height: 81px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.box-desc {
  width: 295px;
  height: 87px;
  left: 16px;
  top: 101px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.box-btn-tools {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin-left: 16px;
  gap: 12px;
  margin-bottom: 12px;
}

.box-btn-tools button {
  border-style: none;
  color: #fff;
  width: 61px;
  height: 40px;
  left: 175px;
  background: rgba(255, 255, 255, 0.24);
}

.box-btn {
  color: #fff;
  border-style: none;
  width: 327px;
  height: 48px;
  background: #ff6b00;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  transform: scale(0);
  position: fixed;
  top: 3%;
  width: 60%;
  margin-left: 20%;
  padding-left: 16px;
  background-color: #fff;
  height: 90vh;
}

.modalContainer.opened {
  transform: scale(1);
}

.tools {
  display: flex;
}

.tools ul {
  padding: 5px 0;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.modalHeader h3 {
  width: 259px;
  height: 82px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #172b4d;
}

.modalHeader img {
  cursor: pointer;
  height: 1rem;
  margin: 0 1rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 3vh;
  gap: 30px;
}

.modal-image {
  max-width: 50%;
}

.modal-about {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal-about p {
  color: #1c1a19;
  font-size: 16px;
  padding-right: 16px;
  width: 80%;
}

.modal-img {
  width: 90%;
}

.modal-btn {
  display: flex;
  gap: 20px;
}

.modal-about button {
  width: 125px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.modal-about button img {
  margin-left: 5px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.opened {
  opacity: 1;
  pointer-events: all;
}

/* work cards */

@media (min-width: 1000px) {
  .work-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 24px 12%;
  }

  .box-btn {
    display: none;
    align-self: flex-end;
  }

  .box:hover .box-btn {
    display: block;
    font-size: 17px;
  }

  .first-card {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .worksimg {
    width: 100%;
  }

  .first-card-text {
    margin-top: 140px;
    padding-right: 151px;
  }

  .first-card-img {
    width: 60%;
    margin-left: 224px;
  }

  .box-btn-tools button {
    background: rgba(255, 255, 255, 0.24);
  }

  /* modal */

  .modalContainer {
    width: 80%;
    height: 90vh;
    align-items: center;
    margin-left: 140px;
  }

  .modalHeader {
    align-items: center;
    width: 95%;
    margin: 0 10px;
  }

  .modal-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
  }

  .modal-about p {
    font-size: 20px;
    line-height: 30px;
  }

  .modal-btn {
    width: 500px;
    font-size: 17px;
    line-height: 24px;
  }

  .modal-image {
    max-width: 80%;
  }

  /* modal */
}
